{
    "trailingComma": "none",
    "singleQuote": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["package.json", "package-lock.json", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
