body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f5f5f5;
    overflow-x: hidden;

    margin: 0;
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
}

.fallback {
}

.body {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
}

.footer {
}
